# Build files à ignorer
#######################
.idea
cmake-build-debug/CMakeFiles
cmake-build-debug/Testing
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/.ninja_log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/optimisation_d_une_ligne_d_assemblage_ing2_tg_2023_2024_5_6.exe
/cmake-build-debug/.cmake/

# Fichiers à ignorer


